//
// Masterhead

.masterhead{
  background-color: darken($info, 0%);
  color: white;
  padding: 30px 0;
  position: relative;

  background-color: darken($green-gob, 0%);

  background: linear-gradient(-45deg,#2e5043, #183246, #2e5043, #4d7a3f, #62983c);
  background-size: 1000% 1000%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;

  .masterhead-splash{

    .masterhead-form{
      margin-top: 30px;
      .input-group{
        .input-group-prepend{
          .input-group-text{
            background-color: rgba(black, 0.1);
            border: none;
            border-radius: 0px;
            .fas{
              color: rgba(white, 0.6);
            }
          }
        }
        .form-control{
          background-color: rgba(black, 0.1);
          color: white;
          border: none;
          border-radius: 0px;

          &::placeholder {
            color: rgba(white, 0.6);
          }
        }
      }
    }

  }

  .masterhead-data{
    text-align: right;
    padding-right: 50px;
    .count{
      font-family: $font-family-serif;
      font-size: 5em;
      line-height: 1em;
    }
    p{
      margin: 0px;
    }
  }

  &.masterhead-home{



  }

  &.masterhead-dataset{
    height: 100px;
    background-color: orange;
  }

}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@media (max-width: 767px){
  .masterhead{
    text-align: center;
    &.masterhead-home{

      .masterhead-splash{}

      .masterhead-data{
        // display: none;
        padding-right:20px;
        text-align: center;
        font-size: 0.8rem;
        margin-top: 30px;
        // background-color: rgba(orange, 0.2);
      }
    }
    &.masterhead-dataset{
      height: 100px;
    }

  }
}
