//
//

.themes{

  &.themes-home{
    padding: 50px 0;
    margin-bottom: 50px;

    h4{
      margin-bottom: 30px;
    }

    a{
      text-decoration: none;
      color: $blue-gob;

      .card-button{
        padding: 15px 10px;
        margin-bottom: 20px;
        border-color: rgba($blue-gob, 0.3);

        display: flex;
        flex-direction: row;
        align-items: center;
        .card-icon{
          margin-right: 10px;
        }
        .card-text{
          font-size: 0.9em;
          line-height: 1.1em;
          font-weight: 500;
          font-family: $font-family-serif;
          text-transform: uppercase;
        }

        &:hover{
          background-color: $blue-gob;
          border-color: rgba($blue-gob, 0.3);
          color: white;
        }
      }
    }
  }
}


@media (max-width: 767px){
  .themes{

    &.themes-home{
      padding: 50px 0;
      margin-bottom: 30px;

      a{
        .card-button{
          margin-bottom: 10px;
        }
      }
    }
  }
}
