<!-- index.njk -->
{% extends "layout.njk" %}

{% block content %}
<div class="masterhead masterhead-home">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-8 masterhead-splash ">
        <h1>Datos Río Cuarto</h1>
        <p class="lead">Ponemos a tu alcance datos públicos en formatos abiertos para que puedas usarlos, modificarlos y compartirlos. Estos datos son tuyos. Podés crear visualizaciones, aplicaciones y grandes herramientas con ellos. </p>
        <em>"El futuro es abierto"</em>
        <form class="masterhead-form">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-fw fa-lg fa-search"></i> </span>
            </div>
            <input type="text" class="form-control" placeholder="Que estás buscando?">
          </div>
        </form>
      </div>

      <div class="col-12 col-md-4 masterhead-data parent">
        <div class="row">
          <div class="col-6 col-md-12 mb-3">
            <div class="count">32</div>
            <p>Conjunto de Datos</p>          
          </div>
          <div class="col-6 col-md-12">
            <div class="count">173</div>
            <p>Recursos Disponibles</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<section class="themes themes-home">
  <div class="container">

    <h4>Categorías</h4>

    <div class="pb-5">
      <div class="row">

        {% macro field(category, icon='', text='') %}

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <a href="datasets.html">
            <div class="card card-button">
              <div class="card-icon">
                <i class="{{ icon }} fa-fw fa-2x card-img-top"></i>
              </div>
              <div class="card-text">
                {{ text }}
              </div>
            </div>
          </a>
        </div>
        {% endmacro %}

        {{ field('1', icon='fas fa-coins ', text='Economía y Finanzas') }}
        {{ field('2', icon='fas fa-user-graduate', text='Educación') }}
        {{ field('3', icon='fas fa-leaf  ', text='Ambiente y Agua') }}
        {{ field('4', icon='fas fa-university ', text='Gobierno') }}
        {{ field('5', icon='fas fa-user-md', text='Salud') }}
        {{ field('6', icon='fas fa-bicycle', text='Recreación') }}
        {{ field('7', icon='fas fa-shield-alt ', text='Seguridad') }}
        {{ field('8', icon='fas fa-piggy-bank', text='Desarrollo Social y Económico') }}
        {{ field('9', icon='fas fa-code-branch', text='Tecnología e Innovación') }}
        {{ field('10', icon='fas fa-bus', text='Transporte') }}
        {{ field('11', icon='fas fa-home', text='Obras y Servicios Públicos') }}
        {{ field('12', icon='fas fa-users', text='Participación Ciudadana') }}
      </div>
    </div>

  </div>

</section>
{% endblock %}

{% block js %}{% endblock %}
