<footer>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
				<a href="http://www.riocuarto.gov.ar/" target="_blank"><img src="images/gobierno-rio-cuarto-logo.svg" alt="" class="img-fluid"></a>
			</div>
			<div class="col-12 d-none d-md-block col-md-6 col-lg-8 text-center">
				Desarrollado por la Sec. Gobierno Abierto y Modernización <br>
				Gobierno de Río Cuarto
			</div>
			<div class="col-6 col-sm-4 col-md-3 col-lg-2">
				<a href="http://www.riocuarto.gov.ar/" target="_blank"><img src="images/gob-abierto-modernizacion-logo.svg" alt=""  class="img-fluid"></a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</footer>
