{# <footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-2 footer-brand">
				<a href="http://www.riocuarto.gov.ar/" target="_blank"><img src="images/gobierno-rio-cuarto-logo.svg" alt="" class="img-fluid"></a>
			</div>
			<div class="col-xs-12 col-md-10 footer-by">
				Desarrollado por la Sec. Gobierno Abierto y Modernización <br>
				Gobierno de Río Cuarto
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</footer> #}

<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-2">
				<a href="http://www.riocuarto.gov.ar/" target="_blank"><img src="images/gobierno-rio-cuarto-logo.svg" alt=""></a>
			</div>
			<div class="col-xs-12 col-md-8 text-center">
				Desarrollado por la Sec. Gobierno Abierto y Modernización <br>
				Gobierno de Río Cuarto
			</div>
			<div class="col-xs-12 col-md-2 text-right">
				<a href="http://www.riocuarto.gov.ar/" target="_blank"><img src="images/gob-abierto-modernizacion-logo.svg" alt=""></a>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</footer>
