<!-- src/templates/partials/navigation.njk -->
<nav class="navbar navbar-expand-lg navbar-light bg-light gg-navbar">
  <div class="container">
    {# <a class="navbar-brand" href="#">DATOS ABIERTO</a> #}
    <a class="navbar-brand navbar-logo" href="./">
      <img src="images/datos-abierto-logo.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="datasets.html">Datasets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="organizaciones.html">Organizaciones</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
