<!-- layout.njk -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Datos Abierto v.1.0.0</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <!--build:css css/main.min.css -->
  <link rel="stylesheet" href="css/app.css">
  <!-- endbuild -->
</head>
<body>
  {% include "partials/navigation.njk" %}

  {% block content %}{% endblock %}

  {% include "partials/footer.njk" %}

  <script src="js/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <!--build:js js/main.min.js -->
  <script src="js/app.js"></script>
  <!-- endbuild -->

</body>
</html>
